.box {
    border: 7px solid #0000;
    background: linear-gradient(
            var(--angle),
            #ffc7c7 0%,
            #a2b8ff 40%,
            #c2ffd1 80%,
            #e5ffad 100%
        )
        border-box;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
