@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Onest:wght@300;400&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=M+PLUS+1p:wght@300&family=Maven+Pro&family=Oxanium:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Optional: Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 0.4em;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}
